.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.header-title {
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.nav-link {
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  display: inline-block;
  padding: 10px 16px;
  margin: 0 10px 0 0;
  position: relative;
  border-radius: 4px;
  border: 3px solid transparent;
  background: #444857;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  text-align: center;
}

.nav-link:hover {
  filter: brightness(120%);
}
.nav-link:active {
  transform: translate(0, 0.1rem);
  box-shadow: none;
}
.header-container {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(34, 34, 34);
  position: sticky;
  z-index: 1;
  top: 0;
  opacity: 0.9;
}
.header-container:hover {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(34, 34, 34);
  position: sticky;
  z-index: 1;
  top: 0;
  opacity: 1;
  border-bottom: rgb(255, 72, 0) 1px solid;
}
.text-secondary {
  color: rgb(255, 72, 0);
}
.quote-cont {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 10px;
}
.home-container {
  width: 75%;
  font-family: "Comfortaa", cursive;
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  align-items: center;
  background-color: rgb(32, 32, 32);
  color: white;
}
.home-container-main {
  width: 100%;
  font-family: "Comfortaa", cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(32, 32, 32);
  color: white;
}
.container {
  width: 75%;
  background-color: rgb(32, 32, 32);
  color: white;
}
.home-left-cont {
  width: 45%;
  border-right: 2px solid white;
  display: flex;
  justify-content: center;
}
.home-left-cont-quote {
  width: 45%;
  border-right: 2px solid white;
}
.home-right-cont {
  width: 45%;
}
.home-h4 {
  font-size: calc(14px + 4vmin);
}
.home-h1 {
  font-size: calc(14px + 10vmin);
}
.loader {
  border: 16px solid #000000;
  border-radius: 50%;
  border-top: 16px solid #bb0000;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  .home-container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20%;
  }
  .home-left-cont {
    height: 50%;
    border-right: none;
    border-bottom: 2px solid white;
    width: 90%;
  }
  .home-right-cont {
    height: 50%;
  }
}

.me-img {
  width: 100%;
  height: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
