.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.header-title {
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.btn-primary {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #ffffff;
  background: rgb(255, 72, 0, 0.6);
  border: none;
  border-radius: 5px;
  outline: none;
}
.btn-primary:hover {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #ffffff;
  background: rgb(255, 72, 0.9);
  border: none;
  border-radius: 5px;
}
.nav-link {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
}

.nav-link:hover {
  filter: brightness(120%);
  border-bottom: rgb(255, 72, 0) 2px solid;
}
.nav-link:active {
  transform: translate(0, 0.1rem);
  box-shadow: none;
}
.header-container {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(34, 34, 34);
  position: sticky;
  z-index: 1;
  top: 0;
  opacity: 0.9;
}
.header-container:hover {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(34, 34, 34);
  position: sticky;
  z-index: 1;
  top: 0;
  opacity: 1;
}
.text-secondary {
  color: rgb(255, 72, 0);
}
.fa-quote-left {
  font-size: 16px;
  padding-right: 10px;
  color: rgb(255, 72, 0);
}
.fa-quote-right {
  font-size: 16px;
  padding-left: 10px;
  color: rgb(255, 72, 0);
}
.fa-dev {
  font-size: 36px;
  padding-right: 10px;
  color: rgb(255, 72, 0);
}

.home-container {
  width: 75%;
  font-family: "Comfortaa", cursive;
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  align-items: center;
  background-color: rgb(32, 32, 32);
  color: white;
}
.home-container-main {
  width: 100%;
  font-family: "Comfortaa", cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  background-color: rgb(32, 32, 32);
  color: white;
}
.container {
  width: 75%;
  background-color: rgb(32, 32, 32);
  color: white;
}
.home-left-cont {
  width: 50%;
  /* border-right: 2px solid white; */
  display: flex;
  justify-content: center;
}
.quote-cont {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 10px;
}
.home-left-cont-quote {
  width: 45%;
  padding: 0 30px;
  /* align-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-right-cont {
  border-left: 2px solid rgb(255, 72, 0);
  width: 45%;
  padding: 0 30px;
}
.home-h4 {
  font-size: calc(14px + 4vmin);
}
.home-h1 {
  font-size: calc(14px + 10vmin);
}
.fa-github {
  color: #333;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-twitter {
  color: #1da1f2;
}
.project-container {
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 30px 30px;
  margin: 10px;
  background: rgb(43, 40, 40);
}
.mic_link {
  width: 90%;
}
.loader {
  border: 16px solid #000000;
  border-radius: 50%;
  border-top: 16px solid #e75805;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  .home-container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20%;
  }
  .home-left-cont {
    height: 50%;
    border-right: none;
    border-bottom: 2px solid white;
    width: 90%;
  }
  .home-right-cont {
    height: 50%;
  }
}

.me-img {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
